<%- include('../partials/header') %>

<div class="content">
    <div class="container">
        <h3>Lista de Atletas</h3>

        <!-- Tabela de Atletas com responsividade -->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data de Nascimento</th>
                        <th>Documento</th>
                        <th>Modalidade</th>
                        <th>Campus</th>
                        <th>Adicionado pelo usuário</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% atletas.forEach(atleta => { %>
                        <tr>
                            <td><%= atleta.nome %></td>
                            <td><%= atleta.dataNascimento.toISOString().split('T')[0] %></td>
                            <td><%= atleta.documento %></td>
                            <td><%= atleta.modalidade %></td>
                            <td><%= atleta.campus %></td>
                            <td><%= atleta.responsavel %></td> <!-- Exibindo o nome do responsável -->
                            <td>
                                <a href="/atleta/editar/<%= atleta.id %>" class="btn btn-warning btn-sm">Editar</a>

                                <form action="/atleta/delete/<%= atleta.id %>?_method=DELETE" method="POST" style="display:inline;">
                                    <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
