<%- include('../partials/header') %>

<div class="content">
    <div class="container">
        <h3>Editar comissao</h3>
        <form action="/comissao/editar/<%= comissao.id %>?_method=PATCH" method="POST">
            <div class="form-group forms">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" value="<%= comissao.nome %>">
                
                <label for="dataNascimento">Data de Nascimento:</label>
                <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" value="<%= comissao.dataNascimento %>">

                <label for="documento">Documento(RG/CPF):</label>
                <input type="text" class="form-control" id="documento" name="documento" value="<%= comissao.documento %>">
                
                <label for="modalidade">Modalidade:</label>
                <select name="modalidade" class="form-control" id="modalidade">
                    <option value="" disabled>Selecione uma opção</option>
                    <option value="Futsal" <%= comissao.modalidade === 'Futsal' ? 'selected' : '' %>>Futsal</option>
                    <option value="Basquete" <%= comissao.modalidade === 'Basquete' ? 'selected' : '' %>>Basquete</option>
                    <option value="Volei" <%= comissao.modalidade === 'Volei' ? 'selected' : '' %>>Vôlei</option>
                    <option value="Xadrez" <%= comissao.modalidade === 'Xadrez' ? 'selected' : '' %>>Xadrez</option>
                </select> </br>
                <label for="campus">Campus:</label>
                <select class="form-control" id="campus" name="campus_id" required>
                    <option value="" disabled selected>Selecione um campus</option>
                    <% campus.forEach(campus => { %>
                        <option value="<%= campus.id %>"><%= campus.nome %></option>
                    <% }); %>
                </select>                
                <br>
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </div>
            
        </form>
    </div>
</div>

<%- include('../partials/footer') %>