<%- include('../partials/header') %>

<div class="content">
    <div class="container">
        <h1>Lista de Campus</h1>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% campus.forEach(function(campus) { %>
                        <tr>
                            <td><%= campus.id %></td>
                            <td><%= campus.nome %></td>
                            <td>
                                <form action="/campus/delete/<%= campus.id %>?_method=DELETE" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir? (Vai deletar todas pessoas relacionadas ao campus)')">
                                    <button type="submit" class="btn btn-danger btn-sm">Deletar</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>